footer {
    background: #FCFBF9;
    padding-top: 8rem;
    padding-bottom: 4rem;
    transition: var(--transition);
}

.letscontact {
    text-align: center;
    margin: 0.5rem auto 4rem;
    width: 40%;
}

.letscontact p {
    font-size: 0.9rem;
}

footer .nav__menu {
    justify-content: center;
}

.footer__socials {
    width: fit-content;
    display: flex;
    gap: 1.5rem;
    margin: 3rem auto 4rem;
}

.footer__socials a {
    background: var(--color-black);
    color: var(--color-white);
    padding: 0.6rem;
    border-radius: var(--border-radius-2);
}

.footer__socials a:hover {
    transform: translateY(0);
    opacity: 0.7;
}

.footer__copyright {
    color: white;
    text-align: center;
    border-top: 2px solid rgba(0,0,0,0.2);
    padding: 1.5rem;
}