.title {
    font-family: cursive;
    position: relative;
}

.title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 2.5px;
    background-color: #FADDE1;
    transform: translateX(200%);
}

.title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px; 
    width: 30%;
    height: 3px; 
    background: linear-gradient(90deg, transparent, #FADDE1, transparent); 
    animation: squiggle 1s infinite; 
    transform: translateX(115%);
}

.highlighted {
    background-color: #FAEDCB;
}

.about__container {
    display: grid;
    grid-template-columns: 38% 50%;
    gap: 12%;
}

.about__portrait {
    height: fit-content;
    max-height: 40rem;
    max-width: 120%;
    border: 1rem solid var(--color-white);
    transition: var(--transition);
    margin-top: 4rem;
    border-radius: 20%;
}

.about__portrait2 {
    height: 21rem;
    max-width: 120%;
    border: 1rem solid var(--color-white);
    transition: var(--transition);
    margin-top: 0.5rem;
    border-radius: 20%;
}

.about__card {
    background: #DBD6CE;
    padding: 1.5rem;
    border: 2px solid transparent;
    border-radius: var(--border-radius-1);
    transition: var(--transition);
}

.about__cards {
    margin: 3rem 0 1.5rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    justify-content: center;
    margin-right: 2rem;
}

.card.about__card {
    text-align: center;
}

.about__card-icon {
    font-size: 1.3rem;
    color: var(--color-black);
    border-radius: var(--border-radious-3);
    width: fit-content;
    margin-inline: auto;
    display: flex;
    align-items: center;
    padding: 0.6rem;
    transition: var(--transition);
}

.card.about__card h5 {
    margin: 1rem 0;
}

.about__right {
    margin-top: 5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about__right p {
    margin-bottom: 0.8rem;
}

.firstintro {
    font-weight: 700;
}

.about__right .btn {
    margin-top: 2.5rem;
}

/* media queries tablets */
@media screen and (max-width: 1024px) {
    .about__left {
        display: none;
    }

    .about__container {
        grid-template-columns: 1fr;
    }

    .about__right h2 {
        text-align: center;
    }
}

/* media queries phones */
@media screen and (max-width: 600px){
    .about__cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .about__right .btn{
        margin-top: 2rem;
    }
}