header {
    margin-top: 5rem;
    height: calc(100vh - 5rem);
    display: grid;
    place-items: center;
    background: var(--color-white);
    transition: var(--transition);
}

.header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.profile__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-left: 30px;
}

.header__profile {
    width: 20rem;
    height: 24rem;
    position: relative;
    overflow: hidden;
    align-self: flex-end;
    justify-content: space-between;
    top: 20px;
    margin-right: 20px;
}
  
.header__profile::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 0%, 61.8% 11.8%, 88.2% 11.8%, 100% 50%, 88.2% 88.2%, 61.8% 88.2%, 50% 100%, 38.2% 88.2%, 11.8% 88.2%, 0% 50%, 11.8% 11.8%);
    background: #e8dbdb;
    border-radius: 80%;
    top: 20px;
}
  
.header__profile img.photo1 {
    width: 100%;
    height: 100%;
    object-fit: none; 
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(50% 0%, 61.8% 11.8%, 88.2% 11.8%, 100% 50%, 88.2% 88.2%, 61.8% 88.2%, 50% 100%, 38.2% 88.2%, 11.8% 88.2%, 0% 50%, 11.8% 11.8%);
    border-radius: 80%;
    top: 20px;
} 

.header__profile2 {
    width: 20rem;
    height: 24rem;
    position: relative;
    overflow: hidden;
    align-self: flex-end;
    justify-content: space-between;
    transform: rotate(180deg);
    top: -40px;
}
  
.header__profile2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 0%, 61.8% 11.8%, 88.2% 11.8%, 100% 50%, 88.2% 88.2%, 61.8% 88.2%, 50% 100%, 38.2% 88.2%, 11.8% 88.2%, 0% 50%, 11.8% 11.8%);
    background: #e8dbdb;
    border-radius: 80%;
    transform: rotate(180deg);
}
.header__profile2 img.photo2 {
    width: 100%;
    height: 100%;
    object-fit: none; 
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(50% 0%, 61.8% 11.8%, 88.2% 11.8%, 100% 50%, 88.2% 88.2%, 61.8% 88.2%, 50% 100%, 38.2% 88.2%, 11.8% 88.2%, 0% 50%, 11.8% 11.8%);
    border-radius: 80%;
    transform: rotate(180deg);
} 

.header__container p {
    width: 35rem;
    text-align: left;
    margin: 0.6rem 0 2rem;
    font-size: 1rem;
}

.header__container h3 {
    font-size: 2rem;
}

.header__container span {
    color: #9966cc;
    font-size: 30px;
}

.header__cta {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-top: 50px;
}

.header__socials a:hover {
    background: var(--color-primary);
    color: var(--color-white);
    transform: translateX(-0.5rem);
}


@media screen and (max-width: 1400px) {
    .header__profile2 {
        display: none;
    }

}

/* media queries (tablets) */
@media screen and (max-width: 1024px) {
    header {
        margin-top: 130px;
        height: 100vh;
    }

    .header__profile2 {
        display: none;
    }

    .header__container {
        flex-direction: column;
        align-items: center;
    }

    .header__container p {
        width: 35rem;
    }
}

@media screen and (max-width: 600px){
    .header__container p {
        width: 20rem;
    }

    /* .header__container h3 {
        font-size: 1rem;
    } */
}